<%= erb "header.html".to_sym %>

<!-- host_index -->
<% hosts = locals[:hosts] %>
<body>
<div class="container-fluid">
<div class="content">
    <h1>Hosts</h1>
    <br />
<%
if hosts.empty?
    %>
        <div>No hosts.</div>
<%
else
    %>
    <!-- Hosts -->
    <table class="servertag-dataTable table table-striped table-bordered">
        <thead>
            <tr>
                <th class="span4">Hostname</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
    <%
    hosts.sort.each do |host|
        %>
        <tr>
            <td><%= host.name %></td>
            <td>
        <%
        host.tags.sort.each do |tag|
            %>
                <span class="label <%= tag =~ /:/ ? "label-info" : "" %>"><%= tag %></span>
        <%
        end
        %>
            </td>
        </tr>
    <%
    end
    %>
        </tbody>
    </table>
<%
end
%>
</div>
</div>
</body>

<%= erb "footer.html".to_sym %>
