<%= erb "header.html".to_sym %>

<!-- host_index -->
<% hosts = locals[:hosts] %>
<body>
<div class="container">
<div class="content">
    <h1>ServerTag</h1>
    <br />
<%
if hosts.empty?
    %>
        <div>No hosts.</div>
<%
else
    %>
    <div class="pull-right">
        <a id="add-tags-btn" class="btn btn-primary" href="javascript:false;">Add Tags</a>
        <a id="remove-tags-btn" class="btn btn-danger" href="javascript:false;">Remove Tags</a>
    </div>

    <table class="servertag-dataTable table table-striped table-bordered">
        <thead>
            <tr>
                <th class="checkbox-cell"><input type="checkbox" /></th>
                <th class="span4">Hostname</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
    <%
    hosts.sort.each do |host|
        %>
        <tr servertag-hostname="<%= host.name %>" class="servertag-host-row">
            <td><input type="checkbox" class="servertag-host-checkbox" /></td>
            <td><%= host.name %></td>
            <td class="servertag-tag-cell">
        <%
        host.tags.sort.each do |tag|
        %>
            <%= erb "tag_partial.html".to_sym, :locals => {:tag => tag} %>
        <%
        end
        %>
            </td>
        </tr>
    <%
    end
    %>
        </tbody>
    </table>
<%
end
%>
</div>
</div>

<div id="add-tags-modal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Add Tags</h3>
    </div>
    <div class="modal-body">
        <p>What tags do you want to add?</p>
        <input type="text" placeholder="Tags to add..." class="input-xlarge" />
    </div>
    <div class="modal-footer">
        <a id="add-tags-submit" href="javascript:false;" data-dismiss="modal" class="btn btn-primary">Add</a>
        <a class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>

<div id="remove-tags-modal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Remove Tags</h3>
    </div>
    <div class="modal-body">
        <p>What tags do you want to remove?</p>
        <input type="text" placeholder="Tags to remove..." class="input-xlarge" />
    </div>
    <div class="modal-footer">
        <a id="remove-tags-submit" href="javascript:false;" data-dismiss="modal" class="btn btn-danger">Remove</a>
        <a class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>

<div id="no-hosts-checked-alert" class="modal hide alert alert-error fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Nope!</h3>
    </div>
    <div class="modal-body">
        You need to select hosts before you can do this.
    </div>
    <div class="modal-footer">
        <a href="javascript:false;" data-dismiss="modal" class="btn">Ah. Okay.</a>
    </div>
</div>

<div id="tag-templates" class="hide">
    <%= erb "tag_partial.html".to_sym, :locals => {:tag => ServerTag::NullTag.new, :template => true} %>
    <%= erb "tag_partial.html".to_sym, :locals => {:tag => ServerTag::NullTag.new, :template => true, :exclusive => true} %>
    <%= erb "tag_partial.html".to_sym, :locals => {:tag => ServerTag::NullTag.new, :template => true, :just_added => true} %>
    <%= erb "tag_partial.html".to_sym, :locals => {:tag => ServerTag::NullTag.new, :template => true, :just_added => true, :exclusive => true} %>
</div>
</body>

<%= erb "footer.html".to_sym %>
