<%= erb "header.html".to_sym %>

<!-- error -->
     <body>
<%
error = locals[:error]
%>        <h1><%= error.status %>: <%= error.name %></h1>
        <div><%= error.message %></div>
    </body>
</html>

<%= erb "footer.html".to_sym %>
